config.log
config.h
config.cache
config.status
autom4te.cache
proftpd
proftpd.pc
module-libs.txt
ftpshut
ftpwho
ftpcount
ftptop
ftpdctl
ftpscrub
include/buildstamp.h
Makefile
Make.rules
Make.modules
modules/module_glue.c
src/prxs
src/*.[0-9]
stamp-h
utils/*.[0-9]
*.a
*.la
*.o
*.patch
*~
*.swp
.libs
libtool
